.forum-regular {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
    background-color:rgb(255, 238, 211)
}

p{
    font-family: "Forum", monospace;
    color:var(--c2);
    line-height: 2 ;
    font-size: large;
}
:root {
    --c1: rgb(255, 222, 221);
    --c2: #020300;
    --c3: #F8F4E3;
    --c4: rgb(50, 45, 44);
    --c5: rgb(216, 233, 247);
}
.large {
    height: 300px;
    transition: height 2s, margin 2s;
    margin: auto;
    border-color: var(--c5);
    border-style: solid;
    margin: 50px 50px;
}

.large:hover {
    height: 400px;
    transition: height 0.5s, margin 0.5s;
    margin: 0;
}

.small {
    height: 200px;
    transition: height 2s;
}

.small:hover {
    height: 300px;
}

nav {
    display: flex;
    justify-content: first;
    background-color: var(--c1);
    margin: 0px;
    padding: 15px;
    gap: 20px;
}

nav a {
    font-size: 20px;
    padding: 0 30px;
    padding-right: 50px;
    color: var(--c2);
    text-decoration: none;
    border: 2px solid var(--c2);
}

nav a:hover{
    height: 30px;
    font-size: 30px;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

.images{
    text-align: center;
}

.bigger_size{
    width: 500px;
    gap: 100px;
}

.bigger_size:hover{
    width: 600px;
}

.image_gap{
    display: flex;
    gap: 100px;
    justify-content: center;
}